.row, .row th, .row td {
    border: 2px solid black;
}

th{color:white;
       background-color:grey;
       text-align:center;
}

.sold {
    background-color: lightcoral;
    border-bottom: 3px solid red;
}